body{
    background-color: rgb(44, 19, 83);
    font-family: arial;
    font-size: large;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
p{
    margin: 15px;
    line-height: 20px;
}