body{
    background-color: rgb(42, 22, 75);
    font-family: arial;
    font-size: large;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
p{
    margin: 15px;
    line-height: 20px;
    text-indent: 2px;
}
ul{
    list-style-type:georgian;
    margin: 15px;
    background-color: blueviolet;
}
.wyroznione{
    background-color: blueviolet;
    font-weight: bolder;
}